extends layout
block content
        h1= title
        - var results = [{"Shoe_Name": "Sneakers", "Shoe_Company": "Adidas", "Shoe_Size": 9.0, "Shoe_Rating": 4.7},{"Shoe_Name": "Formals", "Shoe_Company": "Nike", "Shoe_Size": 10.0, "Shoe_Rating": 4.2},{"Shoe_Name": "Causal", "Shoe_Company": "Puma", "Shoe_Size": 11.0, "Shoe_Rating": 4.6}]
        div.container-fluid 
            div.row 
                each item, index in results
                    div.col-sm-2(onclick=`buy(${index})`) Shoe Name: #{item["Shoe_Name"]} <br> Shoe Company: #{item["Shoe_Company"]} <br> Shoe Size: #{item["Shoe_Size"]} <br> Shoe Rating: #{item["Shoe_Rating"]}